<%= stylesheet_link_tag "devise" %>

<div class="devise-page">
  <div class="right-sidebar"></div>
  
  <div class="row">
    <div class="column column-65">
      <p class="form-title">Join <span class="gradient-text">Jynx</span></p>
      <p class="form-subtitle">Sign up for free!</p>
      
      <div class="form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, class: "field-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-input" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "field-label" %>
            <% if @minimum_password_length %>
            <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "field-input" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "field-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-input" %>
          </div>

          <div class="actions">
            <%= f.submit "Create account", class: "button-1" %>
          </div>

        <% end %>
        
        <div class="form-footer">
          Thank you for using Jynx. &lt;3
        </div>

        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>