<%= stylesheet_link_tag "devise" %>

<div class="devise-page">
  <div class="right-sidebar"></div>
  
  <div class="row">
    <div class="column column-65">
      <p class="form-title">Forgot your password?</p>
      <p class="form-subtitle">Not to worry.</p>
      
      <div class="form">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, class: "field-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-input" %>
          </div>

          <div class="actions" style="text-align: center;">
            <%= f.submit "Reset password", class: "button-1", style: "width: 70%; margin: 0 auto;" %>
          </div>

        <% end %>
        
        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>